.menu-items {
    min-width: 230px;
    .items {
        display: block;
        padding: 10px 16px;
        background: transparent;
        font-size: 1.6rem;
        margin: 0;
        font-weight: 600;
        cursor: pointer;
        width: 100%;
        height: 42px;
        text-align: left;
        color: var(--black-color);
        font-family: 'Montserrat', sans-serif;
        &:hover {
            background-color: rgba(0 0 0 / 5%);
        }
    }
}

.menu-popper{
    padding-bottom: 8px;
}